server:
  port: 8082
  compression:
    enabled: true
    mime-types:
      - application/json
      - text/plain

spring:
  application:
    name: chat-service

  webflux:
    websocket:
      extensions: deflate-frame
  main:
    allow-bean-definition-overriding: true

  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP:localhost:9092}
    topic:
      message.in: ${KAFKA_TOPIC_MESSAGES_IN:chat-persistence-in}
      dlq: ${KAFKA_TOPIC_DLQ:chat.dlq}
      message.out: ${KAFKA_TOPIC_MESSAGES:messages}
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      compression-type: snappy
      acks: all
      retries: 3
      linger-ms: 1
      batch-size: 16384
    consumer:
      group-id: ${KAFKA_CONSUMER_GROUP:chat-group}
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      auto-offset-reset: earliest
      enable-auto-commit: false
      fetch-max-bytes: 52428800
      max-poll-records: 500
      isolation-level: read_committed

  cassandra:
    keyspace-name: ${CASSANDRA_KEYSPACE:chat_keyspace}
    contact-points: ${CASSANDRA_CONTACT_POINTS:localhost:9042}
    local-datacenter: ${CASSANDRA_DC:datacenter1}
    schema-action: create_if_not_exists
    cluster-name: messenger-local
    request:
      timeout: 60s
    connection:
      connect-timeout: 30s
      init-query-timeout: 30s
  data:
    elasticsearch:
      uris: ${ELASTICSEARCH_URIS:http://localhost:9200}
      username: ${ELASTICSEARCH_USERNAME:}
      password: ${ELASTICSEARCH_PASSWORD:}
      connection-timeout: 5000ms
      socket-timeout: 30000ms
      index-prefix: ${ELASTICSEARCH_INDEX_PREFIX:chat_}
      auto-configuration:
        create-index-on-startup: false

redis:
  cache:
    host: ${REDIS_CACHE_HOST:localhost}
    port: ${REDIS_CACHE_PORT:6380}
    config:
      connect-timeout-ms: 500
      command-timeout-ms: 1000
      shutdown-timeout-ms: 100
      max-redirects: 5
      topology-refresh-periodic-sec: 10
      validate-cluster-node-membership: false

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,prometheus,loggers
  metrics:
    tags:
      application: ${spring.application.name}
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    org:
      springframework: INFO
      springframework.web: INFO
      reactor.netty: INFO
    com:
      messenger:
        chat_service_new: DEBUG

network:
  timeouts:
    redis:
      pubsub-command-timeout-ms: 1000
      cache-command-timeout-ms: 3000
    kafka:
      request-timeout-ms: 30000

# change in prod
security:
  kafka:
    ssl:
      enabled: ${KAFKA_SSL_ENABLED:false}
      truststore-location: ${KAFKA_SSL_TRUSTSTORE_LOCATION:}
      truststore-password: ${KAFKA_SSL_TRUSTSTORE_PASSWORD:}
  grpc:
    tls-enabled: false

resilience4j:
  circuitbreaker:
    instances:
      kafkaProducer:
        registerHealthIndicator: true
        slidingWindowSize: 100
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

chat:
  id: ${CHAT_ID:chat-${random.uuid}}    # change in prod
  unread-limit: 50
  max-limit: 100
  default-notifications: default
  message:
    max-limit: 100

app:
  pagination:
    default-limit: 20
    default-offset: 0
    max-limit: 100
  chat_participant_buckets_amount: 1

grpc:
  server:
    port: ${GRPC_SERVER_PORT:9090}
    keep-alive-time: 60s
    keep-alive-timeout: 20s
    max-inbound-message-size: 4194304  # 4MB

kafka:
  consumer:
    threads: 4
  topics:
    message.in: messages-in